@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  border-radius: 20px;
  padding: 1em;
}

.notification{
  z-index: 1;
  position: absolute;
  margin-bottom: 30rem;
}

.togglable-button {
  border: 1px solid rgb(236, 223, 223);
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}



.blog-post {
  border: 1px solid black;
  max-width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.blog-author, .blog-title {
  display: inline;
}

.navigation-panel {
  background-color: rgb(197, 197, 197);
}

